:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #848484;

  --color-bg-light: #f5f5f6;
  --color-bg-dark: #343b46;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}